$font-color: rgb(255, 255, 255);
$background-color: rgba(0, 0, 255, 0.5); //blue
$fog-color: darkslategray; // or try darkolivegreen
$night-color: rgba(204, 0, 102, 0.5); // ruby or try midnightblue
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: rgb(242, 242, 242);
$button-textcolor: rgb(255, 255, 255);
$shadowcolor: rgb(255, 255, 255);
$text-shadow-color: hwb(0 0% 100%);
$fadecolor: rgba(255, 255, 255, 0.6);
